<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Albumes musicales</h2>
    <p>
      Esta app esta hecha como demostracion de la facilidad de Ionic para el desarrollo de Apps Hibridas
    </p>
    <p>
      Hecha para el curso de Laravel + Ionic, dirigido a la empresa <a href="http://webstyc.com.ve/" target="_blank">Webstyc C.A</a>
    </p>
    <p>
      Para obtener ayuda dirigirse al sitio web de, <a href="http://wchopite.com.ve/" target="_blank">Wladimir Chopite</a>
    </p>
  </ion-content>
</ion-view>
